$redLight: #ff6e6e;
$redMedium: #ff4141;
$redDark: #c8102e;

$yellowLight: #ffff4c;
$yellowMedium: #fbe042;
$yellowDark: #fbd803;

$purpleLight: #d59dee;
$purpleMedium: #a154c3;
$purpleDark: #330066;

$blueLight: #9bc0ff;
$blueMedium: #4a4dff;
$blueDark: #0003a1;

$pinkLight: #ffaaa6;
$pinkMedium: #ff8c94;
$pinkDark: #e84a5f;

$greyLight: #e3e3e3;
$greyMedium: #95969a;
$greyDark: #363636;

$greenLight: #90ec7c;
$greenMedium: #00b22a;
$greenDark: #006b05;

$orangeLight: #ffb972;
$orangeMedium: #ff9933;
$orangeDark: #ff8000;

$cyanLight: #00ffff;
$cyanMedium: #00cccc;
$cyanDark: #009292;

$brownLight: #df9436;
$brownMedium: #ae601f;
$brownDark: #894517;

$breakpoints: (
        "phone": 400px,
        "phone-wide": 480px,
        "phablet": 560px,
        "tablet-small": 640px,
        "tablet": 768px,
        "tablet-wide": 1024px,
        "desktop": 1248px,
        "desktop-wide": 1440px
);